.firstRow{

    margin-top: 100px;

}

body{

    display: flex;
    background-color: rgb(228, 228, 228);
}
.container{

    margin-top: 120px;
    /* border: 2px solid green; */
    margin-left: 300px !important;
   
}

.firstBox{

    /* border: 2px solid green;
    margin-top: 100px; */
    box-shadow: 1px 4px 12px 5px rgba(63, 63, 63, 0.6);
    width: 950px;
    border-radius: 20px;
}

.signIn{

    height: 490px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 0px;
    
}

.head1{

    margin-left: 5rem;
}

.fgtLink{

    margin-left: 4rem;
}

.register{

    height: 490px;
    color: white;
    /* border: 2px solid blue; */
    background: rgb(255,69,77);
    background: linear-gradient(90deg, rgba(255,69,77,1) 0%, rgba(255,67,89,1) 50%, rgba(255,66,103,1) 100%);
    /* background-color: lightpink; */
    text-align: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: none;
}

.row1{

    /* border: 2px solid green ; */
    padding-top: 100px;
    padding-left: 50px;
}

.emailInp, .pwd{

    height: 2.9rem;
    width: 18rem;
    border: none;
    background-color: rgb(224, 224, 224);
    padding: 20px;
}

.signButton{

    /* border-radius: 50%; */
    height: 3rem;
    width: 10.5rem;
    padding: 2px;
    border-top-right-radius: 20%;  
    margin-left: 3.5rem; 
    background: rgb(255,69,77);
    background: linear-gradient(90deg, rgba(255,69,77,1) 0%, rgba(255,67,89,1) 50%, rgba(255,66,103,1) 100%); 
    color: white !important;
    text-transform: uppercase;
    font-weight: bolder;
}

.regButton{

    height: 3rem;
    width: 10.5rem;
    padding: 2px;
    border-top-right-radius: 20%;  
    background-color: transparent !important;
    color: white !important;
    text-transform: uppercase;
    font-weight: bolder;
}

.regButton:hover{

    /* background-color: white !important; */
    color: black !important;
    font-weight: 800px;
    /* border-color: black !important; */
}

.box2Head{

    margin-top: 99px;

}


.loginFrame{

    height: 650px;
    width: 950px;
}

.linkPage a{

    color: white !important; 
    text-decoration: none;
}

.linkPage:hover{

    color: black !important;
}